.floor-plan{
  height: 100vh;
  width: 100vw;
}

.floor-one{
  display: inline-block;
  width: 600px;
  margin-left: 0px;
}

.floor-two{
  display: inline-block;
  width: 600px;
  margin-top: 50px;
}

.floor-three{
  display: inline-block;
}

.floor-head{
  background-color: rgba(0, 0, 0, .7);
  margin-bottom: 10px;
  width: 500px;
  display: block;
}

.floor-head-apartment{
  background-color: rgba(0, 0, 0, .7);
  margin-bottom: 10px;
  width: 571px;
  display: block;
}

.floor-layout{
  background-color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
  width: 500px;
}

.floor-layout-apartment{
  background-color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
  width: 570px;
}

.floor-main{
  padding-top: 10px;
}

.floor-hall{
  padding-top: 10px;
}

.floor-apartment{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen 
  and (max-width: 768px) {
    .floor-plan{
      height: 100vh;
      width: 100vw;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    
    .floor-one{
      display: block;
      width: 250px;
      height: 150px;
      margin-left: 255px;
    }
    
    .floor-two{
      display: block;
      width: 250px;
      margin-top: 240px;
      margin-left: 255px;
    }
    
    .floor-three{
      display: block;
      width: 250px;
      margin-top: 20px;
      margin-left: 255px;
    }
    
    .floor-head{
      background-color: rgba(0, 0, 0, .7);
      margin-bottom: 10px;
      width: 200px;
      display: block;
    }
    
    .floor-head-apartment{
      background-color: rgba(0, 0, 0, .7);
      margin-bottom: 10px;
      width: 200px;
      display: block;
    }
    
    .floor-layout{
      background-color: rgba(255, 255, 255, .6);
      margin-bottom: 10px;
      width: 350px;
    }
    
    .floor-layout-apartment{
      background-color: rgba(255, 255, 255, .6);
      margin-bottom: 10px;
      width: 350px;
    }
    
    .floor-main{
      padding-top: 10px;
      height: 100%;
      width: 100%;
    }
    
    .floor-hall{
      padding-top: 10px;
      height: 90%;
      width: 90%;
    }
    
    .floor-apartment{
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      height: 90%;
      width: 90%;
    }
  }

  @media screen 
  and (max-width: 576px) {
    .floor-plan{
      height: 100vh;
      width: 100vw;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    
    .floor-one{
      display: block;
      width: 250px;
      height: 150px;
      margin-left: 5px;
    }
    
    .floor-two{
      display: block;
      width: 250px;
      margin-top: 350px;
      margin-left: 5px;
    }
    
    .floor-three{
      display: block;
      width: 250px;
      margin-top: 20px;
      margin-left: 5px;
    }
    
    .floor-head{
      background-color: rgba(0, 0, 0, .7);
      margin-bottom: 10px;
      width: 200px;
      display: block;
    }
    
    .floor-head-apartment{
      background-color: rgba(0, 0, 0, .7);
      margin-bottom: 10px;
      width: 200px;
      display: block;
    }
    
    .floor-layout{
      background-color: rgba(255, 255, 255, .6);
      margin-bottom: 10px;
      width: 350px;
    }
    
    .floor-layout-apartment{
      background-color: rgba(255, 255, 255, .6);
      margin-bottom: 10px;
      width: 350px;
    }
    
    .floor-main{
      padding-top: 10px;
      height: 100%;
      width: 100%;
    }
    
    .floor-hall{
      padding-top: 10px;
      height: 90%;
      width: 90%;
    }
    
    .floor-apartment{
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      height: 90%;
      width: 90%;
    }
  }