@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.offsite-rec{
  height: 100vh;
}

.offsite-rec-images{
  display: flex;
  justify-content: center;
  width: 500px;
  margin-left: 700px;
  margin-top: 30px;
}

.div-one{
  display: flex;
  flex-direction: column;
}

.div-two{
  display: flex;
  flex-direction: column;
}

.div-three{
  display: flex;
  flex-direction: column;
}

.boat{
  margin-bottom: 11px;
  margin-right: 5px;
}

.people{
  margin-bottom: 5px;
  margin-right: 5px;
}

.table{
  margin-left: 5px;
  margin-right: 5px;
}

.flower{
  margin-left: 5px;
}

/* .orange{
  background-color: rgba(0, 0, 0, .7);
} */

.head{
  background-color: rgba(0, 0, 0, .7);
  margin-bottom: 10px;
  width: 550px;
  margin-left: 670px;
  display: block;
}

.head-text{
  padding-top: 20px;
  padding-bottom: 10px;
}

.line-parent{
  background-color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
  width: 90px;
  margin-left: 910px;
  display: block;
}

.left{
  /* display: inline-block;
  text-align: left;
  justify-content: left; */
  /* width: 500px; */
  /* margin-top: 50px; */
  /* margin-left: 350px; */
  /* margin-bottom: 50px; */
  display: inline-block;
  width: 350px;
  margin-top: 10px;
}

.test{
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 60px;
}

.test-long-one{
  display: flex;
  flex-direction: column;
  height: 60px;
}

.left-time{
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  font-family: 'Cabin', sans-serif;
  border-bottom: 3px solid black;
  font-weight: 900;
  font-size: 20px;
  width: 260px;
  /* height: 500px; */
  margin-top: 0px;
  margin-bottom: 0px;
}

.center{
  /* display: inline-block;
  text-align: left;
  justify-content: left; */
  display: inline-block;
  width: 350px;
  margin-top: 10px;
}

.right{
  /* margin-top: -150px; */
  /* display: inline-block;
  text-align: left;
  justify-content: flex-start; */
  /* margin-bottom: 50px; */
  display: inline-block;
  width: 350px;
  margin-top: 10px;
}

.right-time{
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  font-family: 'Cabin', sans-serif;
  border-bottom: 3px solid black;
  width: 260px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.right-time-hour{
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  font-family: 'Cabin', sans-serif;
  border-bottom: 3px solid black;
  width: 260px;
  font-weight: 900;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.right-right{
  /* display: inline-block;
  text-align: left;
  justify-content: flex-start; */
  display: inline-block;
  width: 450px;
  margin-top: 10px;
}

.website-title{
  color: #aa663c;
  background-color: rgba(0, 0, 0, .7);
  font-weight: 800;
  border-bottom: 2px solid #aa663c;
  width: 250px;
  margin-top: 9px;
  margin-bottom: 3px;
}

.website-link{
  text-decoration: none;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  font-size: 19px;
  width: 250px;
}

.fish{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  width: 250px;
}

.antique{
  width: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
}

.pool{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  width: 250px;
}

.skate-park{
  width: 260px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
}

.hikes{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  width: 250px;
}

.website-link:hover{
  color: #aa663c;
  border-bottom: 1px solid #aa663c;
}