@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.rental-container{
  height: 100vh;
  width: 100vw;
}

.rental-aside-right{
  display: inline-block;
  text-align: left;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, .7);
  /* width: 700px; */
  height: 910px;
  margin-top: 50px;
}

.rental-aside-left{
  display: inline-block;
  text-align: left;
  justify-content: flex-start;
  width: 600px;
  /* height: 980px; */
}


.rental-images-block-one{
  margin-top: 147px;
}

.rental-images-block-two{
  margin-bottom: 67px;
}

.one{
  display: inline;
  height: 140px;
  width: 230px;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-left: 130px;
  /* margin-top: 147px; */
}

.two{
  display: inline;
  height: 140px;
  width: 230px;
  margin-bottom: 8px;
  margin-right: 10px;
}

.three{
  display: inline;
  height: 140px;
  width: 230px;
  margin-right: 10px;
  margin-left: 130px;
}

.four{
  display: inline;
  height: 140px;
  width: 230px;
}


.rental-head{
  color: #aa663c;
  font-family: 'Palatino-Bold', 'Palatino', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 300px;
}

.rental-line-break{
  margin-left: 40px;
}

.paragraphs{
  margin-left: 150px;
  width: 550px;
}

.first-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.second-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.third-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
}


/* desktop breakpoint */

@media only screen and (max-width: 1920px) {

  /* .main-container{
    margin-top: 20px;
  }
   */

  .images {
    display: flex;
    flex-direction: column;
    height: 293px;
    margin-left: 130px;
    margin-top: 20px;
  }


  .line-break{
    margin-left: 50px;
  }

  .paragraphs{
    margin-left: 100px;
    width: 550px;
  }
}

/* retina breakpoint */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .images {
      display: flex;
      flex-direction: column;
      height: 293px;
      margin-left: 480px;
      margin-top: 20px;
    }


  .paragraphs{
    margin-left: 440px;
    width: 550px;
  }
}

/* mobile break point */

@media screen 
  and (max-width: 768px) {

  /* .main-container{
    margin-top: 250px;
    width: 900px;
  } */

  .aside-right{
    width: 400px;
  }

  .images {
    display: flex;
    flex-direction: column;
    height: 293px;
    margin-left: 30px;
    margin-top: 20px;
  }


  .paragraphs{
    margin-left: 50px;
  }

  .first-p{
    width: 450px;
  }

  .second-p{
    width: 450px;
  }

  .third-p{
    width: 450px;
  }
}

/* 2k monitor */

@media screen and (min-width: 2960px){

  .rental-aside-left{
    display: inline-block;
    text-align: left;
    justify-content: flex-start;
    height: 811.094px;
  }

  .rental-aside-right{
    display: inline-block;
    text-align: left;
    justify-content: flex-start;
    color: #008c00;
    text-shadow: 1px 1px #008c00;
    background-color: rgba(0, 0, 0, .7);
    margin-left: 20px;
    padding-top: 50px;
  }

  .price-year{
    margin-left: 200px;
  }
  
  /* .images{
    margin-top: 10px;
    margin-left: 1280px;
  } */


/* 
  .director-head{
    width: 250px;
    margin-left: 1400px;
  } */

  .paragraphs{
    /* margin-left: 1250px; */
  }
} 
