@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.main-container{
  height: 100vh;
  width: 100vw;
}

.about-aside-right{
  display: inline-block;
  text-align: left;
  justify-content: flex-start;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  margin-left: 20px;
  padding-top: 50px;
}

.aside-left{
  display: inline-block;
  text-align: left;
  justify-content: flex-start;
  /* height: 811.094px; */
  margin-top: 150px;
}

.director-head{
  color: #aa663c;
  font-family: 'Palatino-Bold', 'Palatino', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 300px;
  margin-top: 10px;
}

.director-h3{
  color: #aa663c;
  text-shadow: 0px 0px #aa663c;
  /* margin-top: 5px; */
}


.about-line-break{
  background-color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
  width: 90px;
  margin-left: 320px;
  display: block;
}


.line-break-small{
  margin-left: 9px;
  margin-top: 3px;
}

.about-images{
  display: flex;
  flex-direction: column;
  height: 293px;
  margin-left: 210px;
  margin-top: 20px;
}

.gathering{
  height: 140px;
  width: 230px;
  margin-bottom: 8px;
}

.lake{
  height: 146px;
  width: 230px;
}

.director{
  height: 293px;
  margin-left: 450px;
  position: absolute;
  width: 223px;
}

.director-head{
  color: #aa663c;
  font-family: 'Palatino-Bold', 'Palatino', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.about-paragraphs{
  margin-left: 150px;
  margin-right: 80px;
  width: 550px;
}

.about-first-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}

.about-second-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}

.about-third-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}

.about-fourth-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 9px;
}


/* mobile break point */

@media screen 
  and (max-width: 500px) {

  .main-container{
    width: 250px;
  }

  .aside-left{
    text-align: left;
    justify-content: flex-start;
    margin-left: 180px;
    margin-top: 10px;
  }

  .about-aside-right{
    text-align: left;
    justify-content: flex-start;
    color: #008c00;
    text-shadow: 1px 1px #008c00;
    background-color: rgba(0, 0, 0, .7);
    margin-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 210px;
    margin-top: 20px;
  }

  .about-images {
    /* display: flex;
    flex-direction: column;
    height: 293px;
    margin-left: 30px;
    margin-top: 20px; */
    display: none;
  }

  .director-head{
    margin-left: 50px;
  }



  .director{
    display: none;
  }

  .gathering{
    display: none;
  }
  
  .lake{
    display: none;
  }

  .about-paragraphs{
    width: 250px;
    margin-left: 35px;
  }

  .about-first-p{
    width: 150px;
    font-size: 8px;
    padding-bottom: 3px;
  }

  .about-second-p{
    width: 150px;
    font-size: 8px;
    padding-bottom: 3px;
  }

  .about-third-p{
    width: 150px;
    font-size: 8px;
    padding-bottom: 3px;
  }

  .about-fourth-p{
    width: 150px;
    font-size: 8px;
  }
}

/* 2k monitor */

@media screen and (max-width: 2960px){

  .about-images{
    margin-top: 10px;
    margin-left: 150px;
  }

  .director{
    height: 293px;
    margin-left: 250px;
    position: absolute;
    width: 223px;
  }

  /* .about-paragraphs{
    margin-left: 1250px;
  }  */
} 
