@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.main-container{
  /* background-image: url(https://wallpaperaccess.com/full/2197688.jpg);
  background-repeat: no-repeat;
  background-size: auto; */
  height: 100vh;
}

.aside-right{
  display: inline-block;
  text-align: left;
  justify-content: flex-start;
  color: #008c00;
  text-shadow: 1px 1px #008c00;
  background-color: rgba(0, 0, 0, .7);
  margin-left: 20px;
}

.aside-left{
  display: inline-block;
  text-align: left;
  justify-content: flex-start;
  /* height: 811.094px; */
}

.director-head{
  color: #aa663c;
  font-family: 'Palatino-Bold', 'Palatino', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 300px;
}

.director-h3{
  color: #aa663c;
  text-shadow: 0px 0px #aa663c;
}


.about-line-break{
  background-color: rgba(255, 255, 255, .6);
  margin-bottom: 10px;
  width: 90px;
  margin-left: 320px;
  display: block;
}


.line-break-small{
  margin-left: 9px;
  margin-top: 3px;
}

.images{
  display: flex;
  flex-direction: column;
  height: 293px;
  margin-left: 210px;
  margin-top: 20px;
}

.gathering{
  height: 140px;
  width: 230px;
  margin-bottom: 8px;
}

.lake{
  height: 146px;
  width: 230px;
}

.director{
  height: 293px;
  margin-left: 450px;
  position: absolute;
  width: 223px;
}

.director-head{
  color: #aa663c;
  font-family: 'Palatino-Bold', 'Palatino', serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.paragraphs{
  margin-left: 150px;
  margin-right: 80px;
  width: 550px;
}

.first-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.second-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.third-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.fourth-p{
  color: #008c00;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 9px;
}

/* desktop breakpoint */

/* @media only screen and (max-width: 1920px) {

  .main-container{
    margin-top: 20px;
  }

  .images {
    display: flex;
    flex-direction: column;
    height: 293px;
    margin-left: 130px;
    margin-top: 20px;
  }

  .director{
    height: 293px;
    margin-left: 240px;
    position: absolute;
    width: 223px;
  }

  .director-head{
    margin-left: 280px;
  }

  .line-break{
    margin-left: 50px;
  }

  .paragraphs{
    margin-left: 100px;
    width: 550px;
  }
}  */



/* mobile break point */

@media screen 
  and (max-width: 846px) {

  .main-container{
    margin-top: 250px;
    width: 900px;
  }

  .aside-right{
    width: 400px;
  }

  .images {
    display: flex;
    flex-direction: column;
    height: 293px;
    margin-left: 30px;
    margin-top: 20px;
  }

  .director-head{
    margin-left: 50px
  }

  .director{
    height: 293px;
    margin-left: 240px;
    position: absolute;
    width: 223px;
  }

  .paragraphs{
    margin-left: 50px;
  }

  .first-p{
    width: 450px;
  }

  .second-p{
    width: 450px;
  }

  .third-p{
    width: 450px;
  }
}

/* 2k monitor */

@media screen and (max-width: 2960px){

  .images{
    margin-top: 10px;
    margin-left: 150px;
  }

  .director{
    height: 293px;
    margin-left: 250px;
    position: absolute;
    width: 223px;
  }

  .paragraphs{
    margin-left: 1250px;
  }
} 
