@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.property-container{
  height: 100vh;
  color: #aa663c;
  background-color: rgba(0, 0, 0, .7);
}

.text-box{
  width: 750px;
  margin-left: 600px;
}

.header-text{
  font-family: 'Cabin', sans-serif;
  color: #aa663c;
}

.image-box-one{
  display: inline-block;
  width: 250px;
  margin-top: 10px;
}

.image-box-two{
  display: inline-block;
  width: 250px;
}

.image-box-three{
  display: inline-block;
  width: 250px;
}
.image-box-four{
  display: inline-block;
  width: 300px;
}
.image-box-five{
  display: inline-block;
  width: 300px;
}

.property-image-one{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-two{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-three{
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.property-image-four{
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.property-image-five{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-six{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-seven{
  margin-top: 10px;
  height: 150px;
  width: 250px;
}

.property-image-eight{
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.property-image-nine{
  height: 150px;
  width: 190px;
  margin-top: 10px;
}

.property-image-ten{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-eleven{
  margin-top: 10px;
  height: 150px;
  width: 250px;
}

.property-image-twelve{
  margin-top: 10px;
  height: 150px;
  width: 250px;
}

.property-image-thirteen{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-fourteen{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-fifteen{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.descriptions{
  font-family: 'Cabin', sans-serif;
  font-style: italic;
  color: #aa663c;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen 
  and (min-width: 500px) {
  }


  @media screen 
  and (min-width: 2960px) {
    .text-box{
      margin-left: 1200px;
    }

    .image-box{
      margin-left: 1320px;
    }
  }