@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.property-container{
  height: 100vh;
  width: 75vw;
  color: #aa663c;
  background-color: rgba(0, 0, 0, .7);
  margin-left: 250px;
  margin-top: 20px;
  overflow-y: scroll;
}

.text-box{
  width: 750px;
  margin-left: 400px;
}

.header-text{
  font-family: 'Cabin', sans-serif;
  color: #aa663c;
  padding-top: 10px;
}

.image-box-one{
  display: inline-block;
  width: 250px;
  margin-top: 10px;
}

.image-box-two{
  display: inline-block;
  width: 250px;
}

.image-box-three{
  display: inline-block;
  width: 250px;
}
.image-box-four{
  display: inline-block;
  width: 300px;
}

.view-more{
  display: none;
}

.image-box-five{
  display: inline-block;
  width: 300px;
}

.property-image-one{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-two{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-three{
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.property-image-four{
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.property-image-five{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-six{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-seven{
  margin-top: 10px;
  height: 150px;
  width: 250px;
}

.property-image-eight{
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.property-image-nine{
  height: 150px;
  width: 180px;
  margin-top: 10px;
}

.property-image-ten{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-eleven{
  margin-top: 10px;
  height: 150px;
  width: 250px;
}

.property-image-twelve{
  margin-top: 10px;
  height: 150px;
  width: 250px;
}

.property-image-thirteen{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-fourteen{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.property-image-fifteen{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}

.descriptions{
  font-family: 'Cabin', sans-serif;
  font-style: italic;
  color: #aa663c;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen 
  and (max-width: 768px) {

    .property-container{
      height: 100vh;
      width: 80vw;
      color: #aa663c;
      background-color: rgba(0, 0, 0, .7);
      margin-left: 35px;
      margin-top: 0px;
      overflow-y: scroll;
    }

    .text-box{
      width: 250px;
      margin-left: 20px;
      margin-top: 10px;
    }

    .header-text{
      font-family: 'Cabin', sans-serif;
      color: #aa663c;
      padding-top: 0px;
      font-size: 20px;
      line-height: 20px;
      width: 500px;
      margin-left: 20px;
    }

    .image-box-one{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-top: 3px;
      margin-left: 170px;
    }
    
    .image-box-two{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-left: 170px;
      margin-top: 3px;
    }
    
    .image-box-three{
      /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-top: 3px;
      margin-left: 13px; */
      display: none;
    }
    .image-box-four{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-left: 170px;
      margin-top: 2px;
    }
    .image-box-five{
      /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-left: 13px;
      margin-top: 2px; */
      display: none;
    }

    .view-more{
      display: flex;
      width: 70px;
      border: 1px solid black;
      color: white;
      background-color: #7d7878;
      margin-left: 260px;
      margin-top: 3px;
      padding-left: 2px;
    }

    .image-box-five-more{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-left: 170px;
      margin-top: 5px;
    }

    .image-box-three-more{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin-left: 170px;
      margin-top: 3px;
      margin-bottom: 10px;
    }

    .property-image-one{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-two{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-three{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-four{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-five{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-six{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-seven{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-eight{
      height: 250px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-nine{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-ten{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-eleven{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-twelve{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-thirteen{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-fourteen{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }
    
    .property-image-fifteen{
      height: 150px;
      width: 200px;
      margin-top: 5px;
    }

    .descriptions{
      font-family: 'Cabin', sans-serif;
      font-style: italic;
      color: #aa663c;
      margin-top: 1px;
      margin-bottom: 0px;
      font-size: 20px;
    }

    .descriptions-more{
      font-family: 'Cabin', sans-serif;
      font-style: italic;
      color: #aa663c;
      margin-top: 1px;
      margin-bottom: 0px;
      font-size: 20px;
    }
  }


  /* mobile break point */

@media screen 
and (max-width: 576px) {
  .property-container{
    height: 100vh;
    width: 77vw;
    color: #aa663c;
    background-color: rgba(0, 0, 0, .7);
    margin-left: 30px;
    margin-top: 0px;
    overflow-y: scroll;
  }

  .text-box{
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .header-text{
    font-family: 'Cabin', sans-serif;
    color: #aa663c;
    padding-top: 0px;
    font-size: 10px;
    line-height: 10px;
    width: 250px;
  }

  .image-box-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-top: 3px;
    margin-left: 20px;
  }
  
  .image-box-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: 20px;
    margin-top: 3px;
  }
  
  .image-box-three{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-top: 3px;
    margin-left: 13px; */
    display: none;
  }
  .image-box-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: 20px;
    margin-top: 2px;
  }
  .image-box-five{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: 13px;
    margin-top: 2px; */
    display: none;
  }

  .view-more{
    display: flex;
    width: 70px;
    border: 1px solid black;
    color: white;
    background-color: #7d7878;
    margin-left: 103px;
    margin-top: 3px;
    padding-left: 2px;
  }

  .image-box-five-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: 13px;
    margin-top: 5px;
  }

  .image-box-three-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin-left: 13px;
    margin-top: 3px;
    margin-bottom: 10px;
  }

  .property-image-one{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-two{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-three{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-four{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-five{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-six{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-seven{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-eight{
    height: 250px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-nine{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-ten{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-eleven{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-twelve{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-thirteen{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-fourteen{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }
  
  .property-image-fifteen{
    height: 150px;
    width: 200px;
    margin-top: 5px;
  }

  .descriptions{
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    color: #aa663c;
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 9px;
  }

  .descriptions-more{
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    color: #aa663c;
    margin-top: 1px;
    margin-bottom: 0px;
    font-size: 9px;
  }
}


  /* @media screen 
  and (min-width: 2960px) {
    .text-box{
      margin-left: 800px;
      padding-top: 5px;
    }

    .image-box{
      margin-left: 1320px;
    }
  } */