.App {
  text-align: center;
  background-image: url(https://wallpaperaccess.com/full/930661.jpg);
  /* background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/19665307_1744670608906271_8460493927898388606_n.jpg?_nc_cat=106&ccb=2&_nc_sid=0debeb&_nc_ohc=JhaFPNA6jXEAX__xIch&_nc_ht=scontent-sea1-1.xx&oh=64c5302cf39d4c5aad3b65c278a90e05&oe=603CC918); */
  background-repeat: no-repeat;
  background-size: cover;
}
