@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

.home-background{
  background-image: url();
  background-size: 100%;
}

.home-title{
  color: green;
  font-family: 'Dancing Script', cursive;
  font-size: 6em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.home-tagline{
  color: black;
  font-family: 'Langar', cursive;
  font-size: 15px;
  margin-left: 50px;
}

.homestead{
  width: 750px;
  height: 250px;
  /* margin-bottom: 200px; */
}

.homepage-link{
  justify-content: flex-end;
  margin-left: 550px;
}

.main-link{
  text-decoration: none;
  color: green;
  background: none;
  border: none;
  font-family: 'Langar', cursive
}

a{
  text-decoration: none;
}

a:visited { text-decoration: none; color:green; }
/* a:hover { text-decoration: none; color:red; }
a:focus { text-decoration: none; color:yellow; } */
a:hover, a:active { text-decoration: none; color:red }