@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.price-background{
  background-color: rgba(0, 0, 0, .7);
  /* margin-bottom: 10px; */
  width: 520px;
  height: 915px;
}

.price-year-container{
  margin-bottom: 20px;
}

.price-year{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 210px;
  border-bottom: 3px solid black;
  width: 90px;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: #aa663c;
  padding-top: 5px;
}

.price-title-container{
  margin-bottom: 27px;
}

.price-title{
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: #aa663c;
}

.price{
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: #aa663c;
}

.price-red{
  color: red;
  font-weight: bold;
  text-align: center;
}

.price-image{
  margin-left: 179px;
}

.books{
  text-align: center;
}

.price-books{
  color: #aa663c;
}

.price-links{
  text-decoration: none;
  color: #aa663c;
}

.price-links-long{
  text-decoration: none;
  color: #aa663c;
  margin-left: 15px;
}

/* mobile break point */

@media screen 
  and (max-width: 846px) {}


  /* 2K breakpoint  */
@media screen and (min-width: 2960px){
  .price-year{
    margin: 0;
  }
}